<div class="dashboard">
  <div class="card">
    <header><h2>So You Want To Learn How To Beep Boop</h2></header>
    <div class="card-body">
      <p>Congratulations! Get ready to be That Weird Dude in your friend group who's obsessed with synthesizers (for the record, I think Dude is gender-neutral). The rabbit hole of electronic noise goes deep my friend, and you can spend a lifetime traversing it without knowing everything.</p>
      <p>This tutorial assumes you know a little something about music- basic rhythms, time signatures, tempos, and the harmonic series. If you don't, as with anything these days they're a simple google away.</p>
      <p>Much of this information is the same as an undergraduate course I taught on this exact topic at the University of Colorado-Boulder.</p>
      <div class="card toc">
        <header><h3>Table of Contents</h3></header>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div>
                1. <a [routerLink]="['history']">History</a> - From musique concrete and tape techniques to digital programming and computer music, with lots of tasty listening examples
              </div>
              <div>
                2. <a [routerLink]="['audio-basics']">Sound/Audio Basics</a> - Frequency, dB, Voltage
              </div>
              <div>
                3. <a [routerLink]="['osc']">Oscillators</a> - Sine, Triangle, Square, Sawtooth, Noise
              </div>
              <div>
                4. <a [routerLink]="['filters']">Filters</a> - Like Instagram for your sounds
              </div>
              <div>
                5. <a [routerLink]="['lfo']">LFOs (Low-Frequency Oscillator)</a> - I know you're only here to learn how to make the dubstep bass sound
              </div>
            </div>
            <div class="col-6">
              <div>
                6. <a [routerLink]="['envelope']">Envelopes</a> - Attack, Decay, Sustain, Release
              </div>
              <div>
                7. <a [routerLink]="['fx']">Effects</a> - Effectsalicious Definition: Make Them Sounds Go Crazy
              </div>
              <div>
                8. <a [routerLink]="['sequencing']">Step Sequencers</a> - Assemble the notes in time
              </div>
              <div>
                9. <a [routerLink]="['advanced']">Advanced Synthesis Techniques</a> - This app might not do it yet, but it's rad
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>