<div>
  <div class="new-instrument component box-shadow">
    <div class="row">
      <div class="col-3">
        <h3>Create New Instrument</h3>
      </div>
      <div class="col-3">
        <div class="component beep-blaster box-shadow" (click)="createComponent(INSTRUMENTS.BEEPBLASTER)">
          <div class="row">
            <div class="col-4">
                <div class="component">
                  <i class="fa fa-music"></i>
                </div>
            </div>
            <div class="col-8">
                BeepBlaster 9000
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
          <div class="component boom-boom box-shadow" (click)="createComponent(INSTRUMENTS.BOOMBOOM)">
            <div class="row">
              <div class="col-4">
                  <div class="component">
                      <i class="fa fa-headphones"></i>
                  </div>
              </div>
              <div class="col-8">
                  Boom-Boom
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <ng-template #instrumentList></ng-template>
</div>