@import '../../variables.scss';
.component {
    padding-top: 0;
    padding-bottom: 0;
}
.new-instrument {
    height: 55px;
    background-color: $lightGray;
    h3 {
        line-height: 15px;
    }
    .component {
        color: white;
    }
    .beep-blaster, .boom-boom {
        font-size: 12px;
        line-height: 30px;
        padding: 5px 0;
        cursor: pointer;
        transition: 0.3s background-color;
        .component {
            height: 30px;
            width: 30px;
            margin: auto;
            padding: 0;
            text-align: center;
        }
        .col-4 {
            padding: 0;
        }
    }
    .beep-blaster .component {
        background: linear-gradient(to bottom right, $synthBlue, $pink);
    }
    .beep-blaster:hover {
        background: linear-gradient(to bottom right, $synthBlue, $pink);
    }
    .boom-boom:hover {
        background: linear-gradient(to bottom right, $closeToBlack, $drumMachineRed);
    }

    .boom-boom .component {
        background: linear-gradient(to bottom right, $closeToBlack, $drumMachineRed);
    }
}