@import '../../variables.scss';

.sequencer {
    .left-menu {
        background-color: $gray;
        border: 1px solid $grayBg;
        border-radius: 5px;
        padding: 0 5px;
        h5 {
            padding: 0;
        }
        label, select {
            width: 100%;
        }
        label {
            font-size: 12px;
        }
        select {
            border: 1px solid $synthBlue;
        }
        button {
            cursor: pointer;
        }
        .pattern-button {
            background-color: $synthBlue;
            border: 1px solid $grayBg;
            border-radius: 5px;
            color: $grayBg;
            text-align: center;
            padding: 5px 0;
            margin-bottom: 5px;
            cursor: pointer;
            transition: background-color 0.2s;
            &.active {
                background-color: $lightestGray;
            }
        }
        .play {
            background: $lightestGray;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            border: 1px solid $synthBlue;
            margin: auto;
            padding-top: 10px;
            cursor: pointer;
            text-align: center;
          }
    }

    .sequence {
        height: 450px;
        width: 100%;
        overflow-y: scroll;
    }
    .col-11 {
        overflow-x: scroll;
    }
    
    .note-row {
        padding: 0;
        border: 1px solid $grayBg;
        border-radius: 5px;
        background-color: $gray;
        height: 25px;
        .note, .step {
            height: 15px;
            margin: 5px;
            float: left;
            padding: 0;
            font-size: 10px;
            width: 32px;
        }
        .note {
            text-align: center;
            background-color: $lightestGray;
            color: $grayBg;
            line-height: 15px;
            margin-top: 5px;
            margin-left: 13px;
        }
        .step {
            cursor: pointer;
            &.active {
                background-color: $pink;
            }
        }
        .blue-border {
            border: 2px solid $synthBlue;
        }
        &.notes {
            width: 100%;
            border: 1px solid $closeToBlack;
        }
    }
}