<div class="sequencer component">
  <div class="row no-gutters">
    <div class="col-2 left-menu">
      <h5 class="component">Sequencer</h5>
      <div class="component">
        <label>Bottom Note</label>
        <select name="note" [(ngModel)]="selectedNote">
          <option *ngFor="let note of notes" [value]="note">
            {{note}}
          </option>
        </select>
        <label>Lowest Octave</label>
        <select name="octave" [(ngModel)]="selectedOctave">
          <option *ngFor="let octave of [0,1,2,3,4,5,6,7]" [value]="octave">
            {{octave}}
          </option>
        </select>
        <div class="center">
          <button class="button-blue" (click)="setNotes(selectedNote, selectedOctave)">
            Update
          </button>
        </div>
      </div>
      <div class="component pattern-length">
        <h5>Pattern Length (m)</h5>
        <input type="number" min="0" max="9" [(ngModel)]="activePattern.numberOfMeasures" (ngModelChange)="changeNumberOfMeasures()">
      </div>
      <div class="component">
        <h5>Pattern</h5>
        <div class="row no-gutters" *ngFor="let row of [0, 1, 2]">
          <div class="col-4" *ngFor="let button of [1, 2, 3]">
              <div
                class="pattern-button"
                [ngClass]="{'active': activePattern.num === button - 1 + (3 * row)}"
                (click)="setPattern(button - 1 + (3 * row))"
                >
                {{button + ( 3 * row)}}
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 sequence">
      <div class="row no-gutters">
        <div class="col-1">
          <div
            class="note-row notes component"
            *ngFor="let row of noteRows; let rowIdx = index"
            >
            <div class="note component">
              {{row.note}}{{row.octave}}
            </div>
          </div>
        </div>
        <div class="col-11">
          <div
            class="note-row component"
            *ngFor="let row of noteRows; let rowIdx = index"
            [ngStyle]="{'width': cellWidth}"
            >
            <div
              class="step component"
              *ngFor="let step of row.sequence; let stepIdx = index"
              [ngClass]="{'active': step === true, 'blue-border': checkForBlueBorder(stepIdx), 'white-border': checkForWhiteBorder(stepIdx)}"
              (click)="toggleStep(rowIdx, stepIdx)"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>