@import "../../../variables.scss";

#modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    background: rgba(100,100,100,0.5);
    z-index: 9000;
    #modal-inner {
      width: 50vw;
      position: absolute;
      text-align: center;
      padding: 1vw;
      top: 10vh;
      left: 25vw;
      background: rgba(255,255,255,1.0);
      border: 1px solid $closeToBlack;
      border-radius: 5px;
      box-shadow: 2px 2px 2px $gray;
      @media screen and (max-width: 480px) {
          width: 80vw;
          left: 10vw;
      }
    }
  }