@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Play');

.boom-boom {
    background-color: $closeToBlack;
    font-family: 'Play', sans-serif;
    .component { 
        color: $drumMachineRed;
    }
    .icon {
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }
}