@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Play');

.boom-boom {
    background-color: $closeToBlack;
    font-family: 'Play', sans-serif;
    &.component {
        border: 1px solid $grayBg;
    }
    .component { 
        color: $drumMachineRed;
    }
    .transport-button {
        padding: 5px;
        border: 1px solid $closeToBlack;
        border-radius: 3px;
        margin-top: -6px;
    }
}