<div class="dashboard">
  <div class="card">
    <header><h2>History of Electronic Music</h2></header>
    <div class="card-body">
      <div class="card">
        <header><h3>Early Instruments and Techniques</h3></header>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <img src="assets/tutorial/telharmonium.jpg"><br>
              <img src="assets/tutorial/reel.jpg"><br>
              <img src="assets/tutorial/schaeffer.jpg">
            </div>
            <div class="col-10">
                <p>One of the earliest electric musical instruments was the Telharmonium, created in 1897 by Thaddeus Cahill. It utilized tone wheels, metal wheels which rotated quickly and generated simple sine tones. This is similar to those organs you see for sale at garage sales and in your hippie college friends' bachelor pad. The instrument's output was transmitted over the telephone lines of the time, so you could call and listen. Its biggest issue? It took massive amounts of power to run the thing. It didn't last long.</p>
                <p>After the reel-to-reel tape machine was invented in 1928, it became easier for people to record sound in a (vaguely) portable manner. Not only this, but by changing the playback speed of the tape, cutting it up and rerranging it, looping it, and manipulating with various other techniques, they began to be able to create musical creations and compositions from found sound.</p>
                <p>The first major iteration of electronic music was made as such, called musique concrete. At the forefront of this movement was a French collective known as Groupe de Recherches Musicales. Using found sound and tape techniques, they created electronic noise compositions unlike anything heard before. Notable composers in this collective include Pierre Schaeffer, Pierre Henry, Iannis Xenakis, Luc Ferrari, and more</p>
              <p>Early synthesizers (that is, machines that generate their own sound) began to be created in the 1930s, though they weren't especially common at this point. A growing rift began to grow in the electronic music composition worlds between musique concrete (compositions made from found sound) and Elektronische Musik. After WWII, the synthesizer began to take off dramatically.</p>
              <p><a href="https://www.youtube.com/watch?v=MOYNFu45khQ" target="_blank">Pierre Henry - Symphonie pour un homme seul (1950)</a><br>
                <a href="https://www.youtube.com/watch?v=XJq3jItducg" target="_blank">Pierre Schaeffer & Pierre Henry - Orphée 53 (1953)</a></p>  
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <header><h3>Post-WWII High Modernism</h3></header>
        <div class="card-body">
          <div>In academic circles, electronic music and synthesizers had taken off and combined with the prevailing classical ideals of high modernism. This music, while to an untrained ear sounds perhaps random or like ugly noise, is highly organized, often with the use of precise mathematical models.</div>
          <div class="row">
            <div class="col-4">
              <img src="assets/tutorial/buchla.jpg">
            </div>
            <div class="col-4">
              <img src="assets/tutorial/arp.jpg">
            </div>
            <div class="col-4">
              <img src="assets/tutorial/moog.jpg">
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <p>Some popular synthesizers began development during this time, including the Buchla, Arp, and Moog series. These synthesizers were controlled by voltage- pure electricity flowing through circuits in various patterns. The synthesizers were modular by nature- one piece would generate the sound (Oscillator), others would modulate that sound, others could sequence that sound.</p>
              <p>Major composers of this era include Karlheinz Stockhausen, Milton Babbitt, and Vladimir Ussachevsky.</p>
              <p><a href="https://www.youtube.com/watch?v=nffOJXcJCDg" target="_blank">Karlheinz Stockhausen - Gesang der Jünglinge (1956)</a><br>
                <a href="https://www.youtube.com/watch?v=W5n1pZn4izI" target="_blank">Milton Babbitt - Ensembles for Synthesizer (1964)</a></p>
              <p>Many fans of modern EDM/popular electronic music will know the name Kraftwerk, who also were birthed during this time. Kraftwerk are often considered the fathers of popular electronic music- one of the first bands to perform on these instruments. What few know is that Krautrock (the genre label given to bands like Kraftwerk) was born in the same scene that Stockhausen was in, and several members of the Krautrock band Can studied under Stockhausen. Thus I like to consider Stockhausen the grandfather of modern EDM. So, I know you were thinking "what does all this noise crap have to do with my phat beats bruh?" That's what. You learned something today.</p>
              <p><a href="https://www.youtube.com/watch?v=OPhUWrQx1zY" target="_blank">Kraftwerk - Radioactivity (1978)</a></p>
              <p>The first real movement of the synthesizer into public consciousness was a brilliant but now extremely dated album called Switched On Bach by Wendy Carlos. She had a pianist play the works of Bach on a synthesizer. It sounds stupid now, but it was groundbreaking then. Most people had never heard a synthesizer before!</p>
              <p><a href="https://www.youtube.com/watch?v=NcFK6EV8e18&list=OLAK5uy_kTVRvo2a4t3V8z31GXbr4aGZb3WuthUcw" target="_blank">Brandenburg Concerto No. 2 in F Major, BWV 1047: I. Allegro assai from Wendy Carlos' Switched On Bach (1968)</a></p>
            </div>
            <div class="col-4">
              <img src="assets/tutorial/switched-on-bach.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <header><h3>Roots of EDM</h3></header>
        <div class="card-body">
          <div>Beyond the exploits of Kraftwerk mentioned above, several strains were brewing in the US. In the 70s, gay Jamaican immigrants living in Chicago and New York began experimenting with sampling and turntable techniques, playing music at underground parties inside of warehouses. Thus: House Music was born.</div>
          <div>The synthesizer began taking hold in popular music. In the 1970s, prog rock bands and jazz groups made extensive use of them. Disco hit the scene and formed the basic EDM beat we all know and love (or are sick of). The first billboard chart hit to ever utilize the synthesizer was this <a href="https://www.youtube.com/watch?v=YK3ZP6frAMc" target="_blank">extremely dated gem.</a></div>
          <div>
            <a href="https://www.youtube.com/watch?v=8Y4yf_-eQjo" target="_blank">Herbie Hancock - Chameleon (1974)</a><br>
            <a href="https://www.youtube.com/watch?v=2sUyk5zSbhM" target="_blank">Pink Floyd - On The Run (1973)</a>
          </div>
          <div class="row">
            <div class="col-6">
              <img src="assets/tutorial/dx7.jpg">
            </div>
            <div class="col-6">
              <p>In the 1980s, New Wave / Synthpop explodes and the synthesizer becomes front and center. The sheer number of synthesizers available for purchase increases dramatically as well. The most iconic synthesizer of the 80s was the Yamaha DX-7, which utilized FM synthesis to (allegedly) recreate all sorts of sounds. You'll recognize it mostly from its iconic fake-rhodes piano sound.</p>
              <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">I'm really sorry about this Yamaha DX-7 example.</a><br>
                <a href="https://www.youtube.com/watch?v=FYH8DsU2WCk" target="_blank">New Order - Blue Monday (1983)</a></p>
              <p>As hiphop advances, the influence of turntablism is so obvious I need not describe it. In the 1990s, more home-grown synthesis begins to happen in hiphop. Simultaneously, EDM sweeps the nation under the nickname "techno" and the sheer number of subgenres is baffling. Check out <a href="http://techno.org/electronic-music-guide/" target="_blank">this outdated but still fun tool by a fella named Ishkur.</a></p>    
            </div>
          </div>
          <div>
            <a href="https://www.youtube.com/watch?v=phOW-CZJWT0&list=RDQM8peqwhSDc5E&start_radio=1" target="_blank">Rob Base & DJ EZ Rock - It Takes Two (1988)</a><br>
            <a href="https://www.youtube.com/watch?v=bV-hSgL1R74" target="_blank">Orbital - Halcyon and On and On (1992)</a><br>
          </div>
          <div><br>Somewhere around the late 90s, it becomes harder to find a popular song that doesn't contain any synthesizers. Popular genres continue blending throughout the 2000s and now so much pop music is a combination of hiphop, EDM idioms, other popular styles. Software synthesis becomes widely available in the 2000s (though it was being used in the 1980s on computers!) and the universal availability of the DAW means more and more people produce music, easily and cheaply.</div>
        </div>
      </div>
      <div class="card">
        <header><h3>Academic Music in the Post-Modern Era</h3></header>
        <div class="card-body">
          <div>Wait you didn't think people stopped making that wack noise music did you? No way! Computers get involved in creating music in the 1980s. Digital sampling becomes a thing (as opposed to analog sampling with tape). Computers become able to record and store files and generate sounds themselves.</div>
          <div><br>
            <a href="https://www.youtube.com/watch?v=tUrzk_sCwso" target="blank_">Johnathan Harvey - Mortuos plango vivos voco (1980)</a>
          </div>
          <div><br>In the 1980s another important interface came about- MIDI. The problem with early synthesizers is that they weren't standardized, so they couldn't talk to or synchronize with one another. They also had proprietary connectors and hardware as a result. MIDI standardized the connections between devices. It's still used to this day (and in this very application)- though now MIDI information is converted into digital information and read by computers, from your little USB keyboard.</div>
          <div><br>Eventually, computers get powerful enough that audio programming languages are developed. Csound was an early one that's largely not being used anymore. Miller Puckette created a visual audio programming environment called PureData, which is still freely available. From this, MaxMSP was developed and is the most popular audio programming language to date. SuperCollider is a hand-coded environment, and also remains popular.</div>
          <div><br>With the ability to program scheduling, sound generation, reaction, and more, comes the ability to make interactive pieces that process audio on the fly. Video can even be generated and synchronized with this audio.</div>
          <div><br>So here we are now. I programmed this particular application in JavaScript utilizing Tone.js, a framework built on top of the Web Audio API. Your browser actually generates the sounds, my code tells it how to do so. The major DAWs that are popular these days are Logic, ProTools, Ableton, and Reason- but there are countless others. Anyone can learn to make electronic music, and hopefully this guide will show the way.</div>
          <div><br>
            <a href="https://www.youtube.com/watch?v=wkmzXHTrixI" target="_blank">Kaija Saariaho - Petals (1988) for cello and live electronics</a>
          </div>
        </div>
      </div>
      <div class="card center">
        <div class="card-body">
            <a [routerLink]="['/tutorial', 'noob']">Table of Contents</a> | 
            <a [routerLink]="['/tutorial','noob','audio-basics']">Next: Sound/Audio Basics</a>
        </div>
      </div>
    </div>
  </div>
</div>