@import '../../variables.scss';
.volume {
  text-align: center;
  .play {
    background: white;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 1px solid $synthBlue;
    margin: 35px auto 0 auto;
    padding-top: 10px;
    cursor: pointer;
  }
  .sliders {
    .volume-slider {
      margin: auto;
    }
  }
}