@import './variables.scss';

header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $grayBg;
    border-bottom: 1px solid $lightGray;
    color: $lightestGray;
    padding: 0 10px;
    h1 {
        margin: 0;
        color: $lightestGray;
    }
    .subtitle {
        color: $lightestGray;
    }
}
.app {
    height: 100vh;
    overflow-y: scroll;
    padding: 50px 0;
    background-color: $lightestGray;
}