$synthBlue: #54bbe0;
$pink: #ff4081;
$lightGray: #CCCCCC;
$gray: #838383;
$grayBg: #494949;
$closeToBlack: #131313;
$drumMachineRed: #F52314;
$drumMachineYellow: #FCCE00;
$drumMachineOrange: #EE8318;
$paleYellow: #FFFFCC;
