$synthBlue: #54bbe0;
$synthBlueDarker: #147bb0;
$pink: #ff4081;
$lightGray: #CCCCCC;
$lighterGray: #DDDDDD;
$lightestGray: #EEEEEE;
$gray: #838383;
$grayBg: #494949;
$closeToBlack: #131313;
$drumMachineRed: #F52314;
$drumMachineYellow: #FCCE00;
$drumMachineOrange: #EE8318;
$paleYellow: #FFFFCC;

// Timeline
$deepBlue: #031634;
$tan: #CDB380;
$lightTan: #818A8C;
$aqua: #3A4F54;