<header>
  <h1>BeepBoop <span class="subtitle">Audio Synthesis Workstation</span>
    <div class="icon transport-button" title="Export to File" (click)="exportAudio()">
      <i class="fa fa-download"></i>
    </div>
    <a class="icon transport-button" title="Help!" [routerLink]="['/tutorial']">
      <i class="fa fa-question-circle-o"></i>
    </a>
  </h1>
</header>
<div class="app" *ngIf="!loading">
  <app-rack [ngStyle]="{'display': itemToShow === menuScreens.RACK ? 'block' : 'none'}"></app-rack>
  <app-timeline [ngStyle]="{'display': itemToShow === menuScreens.TIMELINE ? 'block' : 'none'}"></app-timeline>
  <app-transport [itemSelected]="itemToShow" (showItem)="showItem($event)"></app-transport>
  <a #audio></a>
</div>
<modal></modal>