<div class="beep-blaster component">
  <h2 class="component">
    BeepBlaster 9000
    <div class="icon" (click)="toggleSequencer()">
      <i [ngStyle]="{'display': showSequencer ? 'none' : 'block'}" class="fa fa-lg fa-braille"></i>
      <i [ngStyle]="{'display': showSequencer ? 'block' : 'none'}" class="fa fa-lg fa-music"></i>
    </div>
  </h2>
  <app-static-synth [ngStyle]="{'display': showSequencer ? 'none' : 'block'}" [sequence]="sequence"></app-static-synth>
  <app-sequencer [ngStyle]="{'display': showSequencer ? 'block' : 'none'}" (sequenceChanged)="changeSequence($event)"></app-sequencer>
</div>