<div class="drum-machine">
  <div class="row no-gutters">
    <div class="col-2">
      <div class="left-menu component">
        <div class="component">
          <h5>Pattern</h5>
          <div class="row no-gutters" *ngFor="let row of [0, 1, 2]">
            <div class="col-4" *ngFor="let button of [1, 2, 3]">
                <div
                  class="pattern-button"
                  [ngClass]="{'active': activePattern?.num === button - 1 + (3 * row)}"
                  (click)="setPattern(button - 1 + (3 * row))"
                  >
                  {{button + ( 3 * row)}}
                </div>
            </div>
          </div>
        </div>
        <div class="component">
          <div class="play" (click)="play()">
            <i *ngIf="!playing" class="fa fa-play fa-3x"></i>
            <i *ngIf="playing" class="fa fa-pause fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="component kits">
        <label>Kit</label>
        <div class="row">
          <div class="col-2" *ngFor="let kit of ['707', '808', '909']">
            <div class="component kit" [ngClass]="{'active': selectedKit === kit}" (click)="selectKit(kit)">
              {{kit}}
            </div>
          </div>
        </div>
      </div>
      <div class="sequencer component">
        <div class="note-row component" *ngFor="let row of noteRows; let rowIdx = index">
          <div class="note component">
            {{row.drum}}
          </div>
          <div
            class="step component"
            *ngFor="let step of row.sequence; let stepIdx = index"
            [ngClass]="{'active': step === true, 'border': checkForBorder(stepIdx)}"
            (click)="toggleStep(rowIdx, stepIdx)"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>