@import '../../variables.scss';
.left-menu {
    background-color: $gray;
    .pattern-length {
        text-align: center;
        input {
            font-size: 16px;
            border: 1px solid $drumMachineRed;
        }
    }
    .pattern-button {
        background-color: $drumMachineRed;
        border: 1px solid $closeToBlack;
        color: $lightestGray;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        &.active {
            background-color: $lightestGray;
            color: $closeToBlack;
        }
    }
}
.kits {
    label {
        padding-left: 5px;
    }
    .kit {
        background-color: $drumMachineRed;
        color: $lightestGray;
        cursor: pointer;
        text-align: center;
        padding: 5px;
        &.active {
            background-color: $lightestGray;
            color: $grayBg;
        }
    }
}

.sequencer {
    width: calc(100% - 10px);
    overflow-x: scroll;
}

.note-row {
    padding: 0;
    border: 1px solid $grayBg;
    border-radius: 5px;
    background-color: $gray;
    height: 25px;
    .note, .step {
        height: 15px;
        width: 32px;
        margin: 5px;
        padding: 0;
        font-size: 10px;
    }
    .note {
        text-align: center;
        background-color: $lightestGray;
        color: $grayBg;
        line-height: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .step {
        cursor: pointer;
        float: left;
        border: 1px solid $closeToBlack;
        &.active {
            background-color: $drumMachineRed;
        }
    }
    .border {
        border: 2px solid $drumMachineOrange;
    }
    .white-border {
        border: 2px solid $lightestGray;
    }
    &.notes {
        width: 100%;
        border: 1px solid $closeToBlack;
    }
}
