<div id="timeline" class="box-shadow">
  <h2 class="component">
    Timeline
    <div class="icon component">
      <h3>Measures</h3>
      <div class="row no-gutters">
        <div class="col-6" (click)="deleteMeasure()">
          <i class="fa fa-minus"></i>
        </div>
        <div class="col-6" (click)="addMeasure()">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  </h2>
  <div class="overflow">
    <table cellspacing="0">
        <tr>
          <th></th>
          <th *ngFor="let measure of measures; let i = index">{{i + 1}}</th>
        </tr>
        <tr *ngFor="let track of timelineTracks">
          <td [ngClass]="track.instrument">{{track.instrument}}</td>
          <td *ngFor="let measure of measures; let i = index">
            <div class="pattern" [ngClass]="{'active': track.patternPerMeasure[i] !== null}" (click)="toggleDropdown(track.instanceNumber.toString() + i.toString())">{{track.patternPerMeasure[i]}}</div>
            <div class="dropdown" *ngIf="dropdownShowing === track.instanceNumber.toString() + i.toString()">
              <div *ngFor="let pattern of [null,1,2,3,4,5,6,7,8,9]" (click)="selectPattern(track, i, pattern)">
                {{pattern || 'Clear'}}
              </div>
            </div>
          </td>
        </tr>
      </table>
  </div>
</div>