<div id="timeline" class="box-shadow">
    <div class="track-column">
      <div class="spacer"></div>
      <div class="track" *ngFor="let track of timelineTracks; let i = index" [ngStyle]="{'height': track.collapsed ? '25px' : '90px'}">
        <div [ngClass]="track.instrument">
          {{track.instrument}}
          <i class="fa fa-chevron-right" *ngIf="track.collapsed" (click)="toggleCollapsed(i)"></i>
          <i class="fa fa-chevron-down" *ngIf="!track.collapsed" (click)="toggleCollapsed(i)"></i>
        </div>
        <div class="track-stuff" *ngIf="!track.collapsed">
          <div class="vol-slider">
            <div class="meter">
              <div class="levels" [ngStyle]="{'width': getMeterWidth(synthService.trackMeterLevels[i] | async)}"></div>
            </div>
            <input type="range" min="-50" max="6" class="slider" [(ngModel)]="track.volume" (change)="meterChanged()"> <div class="label">{{track.volume}}</div>
          </div>
          <div class="pan-slider">
            <div class="label">L/R</div> <input type="range" min="-100" max="100" class="slider" [(ngModel)]="track.pan" (change)="meterChanged()"> <div class="label">{{track.pan}}</div>
          </div>
          <div class="sm-button" [ngClass]="{'active': track.solo}" (click)="toggleSolo(i)">
            S
          </div>
          <div class="sm-button" [ngClass]="{'active': track.mute}" (click)="toggleMute(i)">
            M
          </div>
        </div>
      </div>
    </div>
    <div class="measure-column" [ngStyle]="{'width': (measures.length * 52) + 'px'}">
      <div class="measures">
        <div class="measure" *ngFor="let measure of measures; let i = index" [ngClass]="{'active': currentMeasure === i}">
          {{i + 1}}
        </div>
      </div>
      <div *ngFor="let track of timelineTracks" [ngStyle]="{'width': (measures.length * 52) + 'px'}">
        <div
          class="pattern-measure"
          *ngFor="let measure of measures; let i = index"
          [ngStyle]="{'width': getPatternWidth(track.patternPerMeasure[i], track), 'display': track.patternPerMeasure[i] === -1 ? 'none' : 'block', 'height': track.collapsed ? '25px' : '90px'}"
          (click)="toggleDropdown(track.instanceNumber.toString() + i.toString())"
          >
          <div
            class="pattern"
            [ngClass]="{'active': track.patternPerMeasure[i] !== null}"
            [ngStyle]="{'height': track.collapsed ? '25px' : '40px'}"
            >
            <div class="pattern-header">{{track.patternPerMeasure[i]}}</div>
            </div>
          <div class="dropdown" *ngIf="dropdownShowing === track.instanceNumber.toString() + i.toString()">
            <div *ngFor="let pattern of [null,1,2,3,4,5,6,7,8,9]" (click)="selectPattern(track, i, pattern)">
              {{pattern || 'Clear'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <!----
  <h2 class="component">
    Timeline
    <div class="icon component">
      <h3>Measures</h3>
      <div class="row no-gutters">
        <div class="col-6" (click)="deleteMeasure()">
          <i class="fa fa-minus"></i>
        </div>
        <div class="col-6" (click)="addMeasure()">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
  </h2>
  <div class="overflow">
    <table cellspacing="0">
        <tr>
          <th></th>
          <th *ngFor="let measure of measures; let i = index">{{i + 1}}</th>
        </tr>
        <tr *ngFor="let track of timelineTracks">
          <td [ngClass]="track.instrument">{{track.instrument}}</td>
          <td *ngFor="let measure of measures; let i = index">
            <div class="pattern" [ngClass]="{'active': track.patternPerMeasure[i] !== null}" (click)="toggleDropdown(track.instanceNumber.toString() + i.toString())">{{track.patternPerMeasure[i]}}</div>
            <div class="dropdown" *ngIf="dropdownShowing === track.instanceNumber.toString() + i.toString()">
              <div *ngFor="let pattern of [null,1,2,3,4,5,6,7,8,9]" (click)="selectPattern(track, i, pattern)">
                {{pattern || 'Clear'}}
              </div>
            </div>
          </td>
        </tr>
      </table>
  </div>-->
</div>