<div class="osc">
  <h5>Waveform</h5>
  <div class="row" (click)="selectOsc('sine')">
    <div class="col-4">
      <app-red-light [active]="oscillatorSelected === 'sine'"></app-red-light>
    </div>
    <div class="col-8">
      Sine
    </div>
  </div>
  <div class="row" (click)="selectOsc('sawtooth')">
    <div class="col-4">
      <app-red-light [active]="oscillatorSelected === 'sawtooth'"></app-red-light>
    </div>
    <div class="col-8">
      Sawtooth
    </div>
  </div>
  <div class="row" (click)="selectOsc('square')">
    <div class="col-4">
      <app-red-light [active]="oscillatorSelected === 'square'"></app-red-light>
    </div>
    <div class="col-8">
      Square
    </div>
  </div>
  <div class="row" (click)="selectOsc('triangle')">
    <div class="col-4">
      <app-red-light [active]="oscillatorSelected === 'triangle'"></app-red-light>
    </div>
    <div class="col-8">
      Triangle
    </div>
  </div>
</div>