/* You can add global styles to this file, and also import other style files */
@import './assets/bootstrap-grid.min.css';
@import './assets/font-awesome/css/font-awesome.min.css';
@import './assets/indigo-pink.css';
@import './app/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: $synthBlue;
}

  h5 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    line-height: 25px;
  }

  .subtitle {
    font-size: 12px;
  }

  .component {
    border: 1px solid $lightestGray;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    background-color: $grayBg;
    color: $lightestGray;
    mat-slide-toggle {
      float: right;
    }
  }

  button {
    padding: 5px 10px;
    border-radius: 5px;
  }

  .button-blue {
    border: 1px solid $grayBg;
    background-color: $synthBlue;
    color: $grayBg;
    margin: 5px 0;
  }

  .center {
    text-align: center;
  }

  .box-shadow {
    box-shadow: 2px 2px 2px #AAAAAA;
    &-dark {
      box-shadow: 2px 2px 2px black;
    }
  }

  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: $grayBg;
  }

  .icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.transport-button {
  cursor: pointer;
  background-color: $lightestGray;
  transition: 0.2s background-color;
  text-align: center;
  color: $grayBg;
  &.active {
      background-color: $drumMachineYellow;
  }
  &:hover {
      background-color: $paleYellow;
  }
}

.card {
  width: 100%;
  border: 1px solid $closeToBlack;
  border-radius: 5px;
  box-shadow: 2px 2px 2px $grayBg;
  margin-bottom: 10px;
  header {
    width: 100%;
    padding: 10px;
    background-color: $grayBg;
    color: $lightestGray;
    h1, h2, h3 {
      margin: 0;
    }
  }
  .card-body {
    padding: 10px;
  }
}
.dashboard {
  padding: 10px;
}

.text-bold {
  font-weight: bold;
}