/* You can add global styles to this file, and also import other style files */
@import './assets/bootstrap-grid.min.css';
@import './assets/font-awesome/css/font-awesome.min.css';
@import './assets/indigo-pink.css';
@import './app/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

round-slider {
    display: block;
  
    .round-slider-container {
      position: relative;
    }
  
    .container {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 20;
    }
  
    .round-slider-image {
      background-size: cover;
      border-radius: 50%;
      position: absolute;
    }
  
    .round-slider-text {
      text-align: center;
      position: absolute;
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      top: 41%;
      pointer-events: none;
      z-index: 10;
      color: $lightestGray;
      font-size: 18px;
    }
  
    .circumference {
      &.transparent {
        fill: transparent;
      }
      fill: #f2f2f2;
    }
  
    .dot circle:hover {
      cursor: pointer;
    }
  
    .dot circle {
      fill: lightsteelblue;
      stroke: lightsteelblue;
      stroke-width: 1.5px;
    }
  
    .dot circle.dragging {
      fill: steelblue;
      stroke: steelblue;
    }
  
    .arc {
      fill: steelblue;
    }
  }

  h5 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    line-height: 25px;
  }

  .subtitle {
    font-size: 12px;
  }

  .component {
    border: 1px solid $lightestGray;
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
    background-color: $grayBg;
    color: $lightestGray;
    mat-slide-toggle {
      float: right;
    }
    .rs-tooltip {
      color: $grayBg;
    }
  }

  button {
    padding: 5px 10px;
    border-radius: 5px;
  }

  .button-blue {
    border: 1px solid $grayBg;
    background-color: $synthBlue;
    color: $grayBg;
    margin: 5px 0;
  }

  .center {
    text-align: center;
  }

  .box-shadow {
    box-shadow: 2px 2px 2px #AAAAAA;
    &-dark {
      box-shadow: 2px 2px 2px black;
    }
  }

  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: $grayBg;
  }

  .icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.rs-tooltip {
  width: 50px !important;
  margin-top: -14px !important;
  margin-left: -25.5312px !important;
}