@import '../../variables.scss';

#transport {
    width: 100%;
    height: 55px;
    background-color: $grayBg;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid $lightGray;
    z-index: 100;
    .transport-button {
        cursor: pointer;
        background-color: $lightestGray;
        transition: 0.2s background-color;
        text-align: center;
        color: $grayBg;
        &.active {
            background-color: $drumMachineYellow;
        }
        &:hover {
            background-color: $paleYellow;
        }
    }
    .tempo, .time-sig {
        color: $closeToBlack;
        background-color: $lightGray;
        padding: 5px;
        margin-top: 8px;
        text-align: center;
        input, select {
            background-color: $closeToBlack;
            border: 1px solid $grayBg;
            color: $lightestGray;
        }
    }
    .tempo input {
        font-size: 20px;
    }
    .time-sig {
        padding: 8px 5px;
    }
}